@font-face {
  font-family: Calculator;
  src: url(Time\ Normal.ttf);
}

@keyframes fall {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh) rotate(5deg);
    opacity: 0;
  }
}

/* Everything else is in JS */